ariadne[asgi-starlette]~=0.26.2
uvicorn[standard]       # Servidor ASGI
SQLAlchemy[asyncpg]~=2.0.41
alembic~=1.15.2
python-dotenv~=1.1.0
openai~=0.27.10
aiofiles~=24.1.0
requests                # Necesario para la biblioteca OpenAI (o httpx si prefieres async para todo)
Pillow                  # Para manipulación de imágenes (si fuera necesario, OpenAI SDK lo puede requerir)
psycopg2-binary         # Adaptador de Python para PostgreSQL (Alembic lo necesita)
asyncpg
google-genai
starlette~=0.46.2
graphql-core~=3.2.5
protobuf~=6.31.1